<div class="row sliderBenefits">
    <div class="allBenefits">
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-transport"></i>
            </div>
            <div class="text">Doprava
                <span>3,90 EUR</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-euro"></i>
            </div>
            <div class="text">
                <span>1,20 € / ks</span></div>
        </div>
    </div>
    <div class="allBenefits">
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-transport"></i>
            </div>
            <div class="text">Doprava
                <span>ZDARMA</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-bags"></i>
            </div>
            <div class="text">+ 4 sáčky
                <span>ZDARMA</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-euro"></i>
            </div>
            <div class="text">
                <span>0,90 € / ks</span></div>
        </div>
    </div>
    <div class="allBenefits">
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-transport"></i>
            </div>
            <div class="text">Doprava
                <span>ZDARMA</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-bags"></i>
            </div>
            <div class="text">+ 8 sáčků
                <span>ZDARMA</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-heart"></i>
            </div>
            <div class="text">Oblíbené balení
                <span>0,86 € / ks</span></div>
        </div>
    </div>
    <div class="allBenefits">
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-transport"></i>
            </div>
            <div class="text">Doprava
                <span>ZDARMA</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-bags"></i>
            </div>
            <div class="text">+ 20 sáčků
                <span>ZDARMA</span></div>
        </div>
        <div class="benefit">
            <div class="icon">
                <i aria-hidden="true" class="icon-bomb"></i>
            </div>
            <div class="text">Cenová bomba
                <span>24,67 Kč/ks</span></div>
        </div>
    </div>
</div>