<div class="package package--01"><input type="radio" id="package-01" name="package" value="package-01">
	<label for="package-01">
		1 ks
	</label>
	<div class="package__price">180 Kč
		{# <div class="package__price-before">180 Kč</div> #}
	</div>
	<div class="package__benefits">
		<div class="package__benefit">
			<div class="icon">
				<i aria-hidden="true" class="icon-save-hand"></i>
			</div>
			<div class="text">Sleva
				<strong>0 %</strong>
			</div>
		</div>
	</div>
</div>