{# <form class="big_search"> #}
	{% render '@input', {class:'form-control-lg big_search__input', id:'search-input', placeholder:'Napište značku a/nebo typ vysavače'} %}
	{% render '@icon', {image:'search', class:'big_search__icon'} %}
	{% render '@button-search' %}
{# </form> #}