<div class="stars">
    <i class="fas fa-star" aria-hidden="true" ></i>
    <i class="fas fa-star" aria-hidden="true" ></i>
    <i class="fas fa-star" aria-hidden="true" ></i>
    <i class="fas fa-star" aria-hidden="true" ></i>
    <i class="fas fa-star" aria-hidden="true" ></i>
</div>