<div class="package package--m"><input type="radio" id="package-m" name="package" value="package-m">
	<label for="package-m">
		M<div class="small">16 sáčků</div>
	</label>
	<div class="package__price">€ 30
		<div class="package__price-before">€ 34</div>
	</div>
	<div class="package__benefits">
		<div class="package__benefit">
			<div class="icon">
				<i aria-hidden="true" class="icon-transport"></i>
			</div>
			<div class="text">Doprava
				<strong>zadarmo</strong>
			</div>
		</div>
		<div class="package__benefit">
			<div class="icon">
				<i aria-hidden="true" class="icon-save-hand"></i>
			</div>
			<div class="text">Sleva
				<strong>12 %</strong>
			</div>
		</div>
		<div class="package__benefit">
			<div class="icon">
				<i aria-hidden="true" class="icon-microfilter"></i>
			</div>
			<div class="text">4× mikrofiltr
				<strong>zadarmo</strong>
			</div>
		</div>
	</div>
</div>