{% render '@breadcrumb', breadcrumb %}

<div class="container">

	<h1>Seznam značek vysavačů</h1>

	<div id="content">

		<div class="row">
			<div class="col">
				<p>Vyberte značku vysavače podle počátečního písmene:</p>
			</div>
		</div>

		<div class="row">
			<div class="col">
				
				{% render '@pills', pills %}	
				
				<hr/>
				

				<div id="firmsTabContent" class="tab-content">
					<div class="tab-pane fade show active" id="VSECHNY" role="tabpanel" aria-labelledby="VSECHNY-tab">
						{% render '@list-brands', brands_ALL %}
					</div>
					
					<div class="tab-pane fade" id="A" role="tabpanel" aria-labelledby="A-tab">
						{% render '@list-brands', brands_A %}
					</div>
				</div>
				

			</div>

		</div>

	</div>
</div>

{% render '@stripe-guarantee' %}