<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<title>Preview Layout</title>
		<link rel="shortcut icon" href="{{ '/img/favicon.png' | path }}">
		<link media="all" rel="stylesheet" href="{{ '/css/app.css' | path }}">
		<link media="all" rel="stylesheet" href="{{ '/fonts/vrecka-icons/iconfont.css' | path }}">
		<script type="text/javascript" src="{{ '/js/scripts.js' | path }}"></script>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
        <!-- WARNING: Respond.js doesn't work if you view the page via file://-->
        <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
        <!--[if lte IE 9]><link href="/css/ie9.css" rel="stylesheet"><script src="/js/flexibility.js"></script><![endif]-->
	</head>
	<body>
		
		{% render '@navigation' %}
		
		{{ yield | safe }}
		
		{% render '@footer' %}
		
		<script type="text/javascript" src="{{ '/js/app.js' | path }}"></script>
	</body>
</html>