<form action="#" class="selection">
    {% render '@benefits-detail-simple-xl' %}
    {% render '@benefits-detail-simple-l' %}
    {% render '@benefits-detail-simple-m' %}
    {% render '@benefits-detail-simple-s' %}
</form>
<script type="text/javascript" src="{{ '/js/detail-simple.js' | path }}"></script>