<div id="section-05" class="container-fluid stripe stripe--ask cd-section">
	<div class="container">
		<div class="row">
			<div class="col">
				{# <div class="col text-center"> #}
				<h2>Chcete se na něco zeptat?</h2>
				<p class="text-lg">Pište na
					<strong>
						<a href="mailto:info@chci-vysavat.cz" class="link-underline">info@chci-vysavat.cz</a>
					</strong>
					nebo nám zavolejte na
					<strong>+420 737 770 470</strong>
				</p>
			</div>
		</div>
	</div>
</div>