<div class="colour__category">
	<h3>Primary colours</h3>
	<div class="colour__element">
		<div class="colour__value colour__value--es-blue ">
			<div class="colour__content">#06183D</div>
		</div>
		<span class="colour__name">Eurostar Blue </span>
		<span>$es-blue</span>
		<span>R 6 G 24 B 61</span>
	</div>
	<div class="colour__element">
		<div class="colour__value colour__value--es-bright-blue ">
			<div class="colour__content">#24B5C9</div>
		</div>
		<span class="colour__name">Eurostar Bright Blue </span>
		<span>$es-bright-blue</span>
		<span>R 36 G 181 B 201</span>
	</div>
	<div class="colour__element">
		<div class="colour__value colour__value--es-yellow colour__value--dark">
			<div class="colour__content">#FFE600</div>
		</div>
		<span class="colour__name">Eurostar Yellow </span>
		<span>$es-yellow</span>
		<span>R 255 G 230 B 0</span>
	</div>
	<div class="colour__element">
		<div class="colour__value colour__value--es-business ">
			<div class="colour__content">#5F718C</div>
		</div>
		<span class="colour__name">Eurostar Bussiness </span>
		<span>$es-business</span>
		<span>R 95 G 113 B 140</span>
	</div>
</div>