<div class="cart-conviction">
	<i aria-hidden="true" class="icon-badge"></i>
	<strong>můžete vrátit:</strong>
	<ul>
		<li>zboží do 3 měsíců od nákupu bez udání důvodu</li>
		<li>i rozbalené balení sáčků</li>
		<li>balení i v případě, že jeden sáček je použitý a chybí</li>
	</ul>
</div>