<div class="benefits beneftis--home">
    {% render '@benefit--piggy' %}
    {% render '@benefit--bags' %}
    {% render '@benefit--transport' %}
    {% render '@benefit--gift' %}
    {% render '@benefit--badge' %}
</div>