<div class="package package--s"><input type="radio" id="package-s" name="package" value="package-s">
	<label for="package-s">
		S<div class="small">8 sáčků</div>
	</label>
	<div class="package__price">€ 17</div>
	<div class="package__benefits">
		<div class="package__benefit">
			<div class="icon">
				<i aria-hidden="true" class="icon-transport"></i>
			</div>
			<div class="text">Doprava
				<strong>za € 2</strong>
			</div>
		</div>
		<div class="package__benefit">
			<div class="icon">
				<i aria-hidden="true" class="icon-microfilter"></i>
			</div>
			<div class="text">2× mikrofiltr
				<strong>zadarmo</strong>
			</div>
		</div>
	</div>
</div>