<a href="{{ link }}" class="item {{ class }}">
	<img alt="{{ img_alt }}" src="{{ img | path }}" class="item__image">
	<div class="item__content">
		<div class="item__name">{{ name }}</div>
		<div class="item__info">{{ info | safe }}</div>
		<div class="item__more">{{ item_more | safe }}</div>
	</div>
</a>