<div id="section-01" class="container-fluid stripe stripe--search cd-section">
	<div class="container">
		<div class="row intro">
			<div class="col-lg-8 col-md-12 pb-lg-4 pb-md-3 pb-sm-2 pb-1">
				<h1>Sáčky pro více než 19&nbsp;000 modelů vysavačů</h1>
			</div>
		</div>
		<div class="row">
			<div id="search-fulltext" class="col-lg-8 col-md">
				<form id="frm-goodsSearchForm" action="/" method="post">
					{# <input id="suggestid" type="hidden" name="suggestid"> #}
					{% render '@big_search' %}
					{# <input type="hidden" name="_do" value="goodsSearchForm-submit"> #}
				</form>
				{% render '@search-tt' %}
			</div>
		</div>
		<div class="row links pt-3">
			<div class="col-lg-8 col-md-12 mb-4">
				<a href="#" data-toggle="modal" data-target="#myModal--advices">Jak hledat?</a>
				<a href="#" data-toggle="modal" data-target="#myModal">Jak zjistit model vysavače?</a>
				{# <a href="doplnkove-produkty">Hepa filtry, motorové filtry, kartáče, vůně…</a> #}
			</div>
		</div>
	</div>
	<div class="container pb-lg-4 pb-md-3 pb-sm-2 pb-1">
		<div class="row">
			<div class="col-lg-11 col-md-12">
				{% render '@benefits-home' %}
			</div>
		</div>
	</div>
</div>
