<form action="/electrolux/s-bag" method="post" id="frm-goodsBuyForm">
	<div class="sliderWrapper">
		<div class="row sliderRow">
			<div class="col-sm-12 col-md-8">
				{% render '@slider-main' %}
				{% render '@slider-benefits' %}
				{% render '@slider-info' %}
			</div>

			<div class="col-sm-12 col-md-4">
				{% render '@slider-stepper' %}
				{% render '@slider-summary' %}
			</div>
		</div>
	</div>

	<input type="hidden" name="groups_id" value="186306">
	<input type="hidden" name="base_packages" value="4">
	<input type="hidden" name="name" value="Sáčky do vysavače ELECTROLUX S-BAG">

	<div class="row">
		<div class="col text-center my-3">
			<button type="submit" name="submit[]" value="186306" class="btn btn-primary btn-lg">Vložit do košíku<i class="icon-cart"></i>
			</button>
		</div>
	</div>
	<input type="hidden" name="goods_id" value="186306"><input type="hidden" name="gfix_name" value="">
	<input type="hidden" name="amount_type" value="1">
	<input type="hidden" name="_do" value="goodsBuyForm-submit">
</form>