input[type="email"],
input[type="number"],
input[type="text"] {
    font-size: $font-size-sm;
}

input[type=checkbox]:checked {
    background: red;
}

form {
	.input-group {
		// width: inherit !important;
		// display: inline-table;
	}
}



.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
	width: 24px !important;
	height: 16px !important;
	margin-left: -24px;
	&:checked {
		background: $brand-primary;
	}
}
label input[type="radio"]:checked {
	font-weight: bold;
}
label {
	font-size: $font-size-sm;
    .label__text {
        margin-right: spacer(2);
    }
    .label__price {        
        // FIXME: opacity to colour / variable?
        opacity: 0.6;
    }
}
.checkbox label,
.radio label {
	padding-left: 24px;
}

i.label__required {
    // font-size: $font-size-xs;
    font-size: 75%;
	color: theme-color("primary");
    display: inline-block;
    margin-top: -5px;
	&::before {
	}
}