.benefit {
	display: flex;
	align-items: center;
	transition: all 0.5s;
	cursor: pointer;
	width: calc(100% - 24px);
	margin-right: 24px;
	margin-bottom: 12px;
	@include media-breakpoint-down(xs) {
		width: calc(100% - 24px);
		// background: blue;
	}
	@include media-breakpoint-up(xxs) {
		width: calc(100% / 2 - 24px);
		// background: red;
	}
	@include media-breakpoint-up(md) {
		width: calc(100% / 3 - 24px);
		// background: green;
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(xl) {
		width: calc(100% / 6);
		margin-bottom: 0;
	}
	&:last-child {
		margin-right: 0;
	}
	&:hover {
		.benefit__icon, 
		.benefit__title {
			color: theme-color("black");
			transition: $motion-out;
		}
	}
}
	.benefit__icon {
		color: theme-color("secondary");
		height: 32px;
		@include media-breakpoint-up(lg) {
			height: 48px;
		}
		margin-right: 8px;
		margin-top: -10px;
		transition: $motion-on;
		i {
			font-size: 32px;
			line-height: 32px;
			@include media-breakpoint-up(lg) {
				font-size: 48px;
				line-height: 48px;
			}
		}
	}
	.benefit__title {
		font-size: $font-size-xxs;
		line-height: $line-height-sm;
		margin-bottom: 0;
		transition: $motion-on;
		@include media-breakpoint-up(md) {
			font-size: $font-size-xs;
		}
		font-weight: $font-weight-bold;
	}
