.benefits--bag {
	
	.benefit {
		cursor: default;
		margin: 0;
		margin-bottom: spacer(3);
		padding: 0 spacer(3) spacer(3) 0;
		
		width: 100%;
		@include media-breakpoint-up(xxs) {
			width: 50%;
		}
		@include media-breakpoint-up(lg) {
			width: 33%;
		}
		
		.benefit__icon {
			margin-top: -20px;
			i {
				font-size: 56px;
				height: 56px;
			}
		}
		
		.benefit__title {
			text-transform: uppercase;
			font-size: 13px;
			font-weight: normal;
			color: theme-color('secondary');
		}
	}
}
