.list--items {
	padding-left: 0;
	// padding-bottom: $stripes-padding/4;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0;

	.item {
		

	}
}

.list--items--full {
	.item {
		width: 100%;
		.item__name {
			// width: 100%;
		}
		.item__info {
			width: 140px;
		}
	}
}

.goods .list--items {
	.item {
		margin: spacer(2);
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: calc((100%/2) - 2 * #{spacer(2)});
		}
		@include media-breakpoint-up(xl) {
			width: calc((100%/3) - 2 * #{spacer(2)});
		}
		// @include media-breakpoint-up(xl) {
		// 	width: calc((100%/4) - 2 * #{spacer(2)});
		// }
	}
}