// —————————————————
// List dependent
// —————————————————

.list {}

.list--brands {
	width: 100%;
	column-gap: spacer(3);
	padding: spacer(2) 0;
	column-count: 1;
	@include media-breakpoint-up(xxs) {
		column-count: 2;
	}
	@include media-breakpoint-up(md) {
		column-count: 3;
	}
	@include media-breakpoint-up(lg) {
		column-count: 4;
	}
	@include media-breakpoint-up(xl) {
		column-count: 5;
	}

	li {
		list-style: none;
		display: inline-block;
		width: 100%;
	}
}

.list--items {
	padding-left: 0;
	// padding-bottom: $stripes-padding/4;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0;

	.item {
		margin: spacer(2);
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: calc((100%/2) - 2 * #{spacer(2)});
		}
		@include media-breakpoint-up(lg) {
			width: calc((100%/3) - 2 * #{spacer(2)});
		}
		// @include media-breakpoint-up(xl) {
		// 	width: calc((100%/4) - 2 * #{spacer(2)});
		// }

	}
}

.goods .list--items {
	.item {
		margin: spacer(2);
		width: 100%;
		@include media-breakpoint-up(lg) {
			width: calc((100%/2) - 2 * #{spacer(2)});
		}
		@include media-breakpoint-up(xl) {
			width: calc((100%/3) - 2 * #{spacer(2)});
		}
		// @include media-breakpoint-up(xl) {
		// 	width: calc((100%/4) - 2 * #{spacer(2)});
		// }
	}
}
