<form action="#" class="selection selection--hepa">
    {% render '@selection-hepa-01' %}
    {% render '@selection-hepa-02' %}
    {% render '@selection-hepa-03' %}
</form>

{# FIXME: this is redundant code #}
<script type="text/javascript" src="{{ '/js/selection-hepa.js' | path }}"></script>