<footer class="stripe">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h6>ZPŮSOB PLATBY</h6>
				<p>
					<i class="fas fa-arrow-right"></i>
					Bankovní převod:
					<strong>Fio banka, a.s.</strong>, Číslo účtu:
					<strong>2601201827/2010</strong>
					<br>
					<i class="fas fa-arrow-right"></i>
					Dobírka — Za objednávku zaplatíte v hotovosti při jejím převzetí.
				</p>

				<h6 class="pt-3">DOPRAVA</h6>
				<p>
					<i class="fas fa-arrow-right"></i>
					Dopravu pro Vás zajišťujeme prostřednictvím:</p>
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<img class="img img-fluid" src="/img/footer-zasilkovna.png"><br>
						Zásilkovna s.r.o.<br>Lihovarská 1060/12<br>190 00 Praha 9
					</div>
					<div class="col-sm-6 col-xs-12">
						<img class="img img-fluid" src="/img/footer-ceska_posta.png"><br>
						Česká pošta, s.p.<br>Politických vězňů 909/4<br>225 99 Praha 1
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-5">
				<h6>KONTAKT</h6>
				<p>
					<i class="fas fa-phone-alt"></i>
					+420 737 770 470
					<br>

					<i class="far fa-envelope"></i>
					<a href="mailto:info@chci-vysavat.cz">
						info@chci-vysavat.cz</a>
				</p>

				<h6 class="pt-3">MENU</h6>
				<ul class="list-unstyled list--menu">
					<li><a href="/o-nas">O nás</a></li>
					<li><a href="/znacky">Prodávané značky</a></li>
					<li><a href="/jak-nakoupit">Jak nakoupit</a></li>
					<li><a href="/kontakt">Kontakt</a></li>
					<li><a href="/objednavka">Moje objednávka</a></li>
					{# <br> #}
					<li><a href="/pravni-dolozka">Právní doložka</a></li>
					<li><a href="/informace-o-zpracovani-osobnich-udaju">Informace o zpracování osobních údajů</a></li>
					<li><a href="/jak-nakoupit/obchodni-podminky">Obchodní podmínky</a></li>
					<li><a href="/impressum">Impressum</a></li>
				</ul>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col">
				<a href="https://or.justice.cz/ias/ui/rejstrik-firma.vysledky?subjektId=939885&amp;typ=PLATNY">chci-vysavat.cz</a>
				&copy; 2016-2019 &middot; code&amp;design by
				<a href="http://www.strapa.cz/" target="_blank">strapa.cz</a>
				&middot; developed by
				<a href="http://www.devpoint.cz" target="_blank">devPOINT</a>
			</div>
		</div>
	</div>
</footer>