<div class="expedition-in-XXh expedition-in-XXh--small">
    <i class="icon-stopwatch-48h" aria-hidden="true"></i>
    <div>
        <strong>Odeslání do 48 hodin</strong>
        <p>Veškeré zboží máme skladem</p>
    </div>
</div>