{% render '@breadcrumb',
breadcrumb %}

<script>
	var currency = "Kč";
	var price_system = 1;
	var benefitDisabled = 0.3;
	var benefitEnabled = 1.0;
	var vat_koef = 0.2099999999999999922284388276239042170345783233642578125;
	var vat_date = "2017-09-30T00:00:00+02:00";
	var no_vat = "bez DPH";
	var groups = [
		{
			"id": 65680,
			"multiple": 1,
			"packFree": 0,
			"transportFree": 0,
			"paymentFree": 0,
			"scentFree": 0,
			"priceVat": 148.009999999999990905052982270717620849609375,
			"priceNoVat": 122.31999999999999317878973670303821563720703125,
			"discount": 0,
			"package_price": 122.31999999999999317878973670303821563720703125,
			"package_motor_filter": 1,
			"package_bag": 4
		}, {
			"id": 65681,
			"multiple": 3,
			"packFree": 0,
			"transportFree": 1,
			"paymentFree": 0,
			"scentFree": 0,
			"priceVat": 118.3900000000000005684341886080801486968994140625,
			"priceNoVat": 97.840000000000003410605131648480892181396484375,
			"discount": 20,
			"package_price": 293.51999999999998181010596454143524169921875,
			"package_motor_filter": 3,
			"package_bag": 12
		}, {
			"id": 65682,
			"multiple": 5,
			"packFree": 0,
			"transportFree": 1,
			"paymentFree": 0,
			"scentFree": 0,
			"priceVat": 106.5799999999999982946974341757595539093017578125,
			"priceNoVat": 88.0799999999999982946974341757595539093017578125,
			"discount": 28,
			"package_price": 440.3999999999999772626324556767940521240234375,
			"package_motor_filter": 5,
			"package_bag": 20
		}, {
			"id": 65683,
			"multiple": 10,
			"packFree": 0,
			"transportFree": 1,
			"paymentFree": 0,
			"scentFree": 0,
			"priceVat": 100.6200000000000045474735088646411895751953125,
			"priceNoVat": 83.159999999999996589394868351519107818603515625,
			"discount": 32,
			"package_price": 831.59999999999990905052982270717620849609375,
			"package_motor_filter": 10,
			"package_bag": 40
		}
	];
	var sliderStart = 4;
	var sliderEnd = 4 - 1;
	var bagsMin = 4;
	var bagsMax = 100;
	var discount_text = "ZDARMA";
	var bags_text = "sáček|sáčky|sáčků".split("|");
	var filters_text = "motorový filtr|motorové filtry|motorových filtrů".split("|");
	var ptype = 0;
	var productComponents = {
		"motor_filter": {
			"count": 1,
			"good": {}
		},
		"bag": {
			"count": 4,
			"good": {},
			"components": {
				"grip": {},
				"sack": {}
			}
		}
	};
	var packageType = "bag"
	var atype = 1; // 0 - PCS, 1+ - PACKAGES : AMOUNT TYPE
	if (atype == 0) {
		var stepper = 1;
	} else {
		var stepper = 4;
	}
	var pcs = 12;

	dl = [
		{
			'pageType': 'product',
			'productId': "4758823768815_3"
		}
	];
</script>

<div class="container">
	<div class="row">
		<div class="col-sm-10 col-xs-12">
			<h1>Sáčky do vysavače
				<a href="/electrolux">ELECTROLUX</a>
				<strong>S-BAG</strong>
			</h1>
			<span class="small">Ověřte si prosím podobu sáčků na
				<a href="#bag_image">fotografii níže</a>. Jestliže si nejste jisti,
				<a href="/kontakt#contact_form">kontaktujte nás</a>.</span>
		</div>
	</div>
	<form action="/electrolux/s-bag" method="post" id="frm-goodsBuyForm">
		<div class="container-fluid sliderWrapper">
			<div class="container">
				<div class="row sliderRow">
					<div class="col-xs-12 col-sm-8">
						<div class="row">
							<div class="col-xs-12">
								<h4 class="hand bags">
									<span>Vyberte si počet sáčků…</span></h4>
								<div id="slider" class="noUi-target noUi-ltr noUi-horizontal noUi-connect">
									<div class="noUi-base">
										<div class="noUi-origin noUi-background" style="left: 33%;">
											<div class="noUi-handle noUi-handle-lower"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row sliderBenefits">
							<div class="allBenefits" onclick="sliderInput.value = 4;slider.noUiSlider.set(4);">
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-transport"></i>
									</div>
									<div class="text">Doprava
										<span>55,00 Kč</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-piggy"></i>
									</div>
									<div class="text">Sleva
										<span>0%</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-euro"></i>
									</div>
									<div class="text">
										<div class="hidden-xs"></div>
										<span>37,00 Kč/ks</span></div>
								</div>
							</div>
							<div class="allBenefits active" onclick="sliderInput.value = 12;slider.noUiSlider.set(12);">
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-transport"></i>
									</div>
									<div class="text">Doprava
										<span>ZDARMA</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-piggy"></i>
									</div>
									<div class="text">Sleva
										<span>20%</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-euro"></i>
									</div>
									<div class="text">
										<div class="hidden-xs"></div>
										<span>29,60 Kč/ks</span></div>
								</div>
							</div>
							<div class="allBenefits" onclick="sliderInput.value = 20;slider.noUiSlider.set(20);">
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-transport"></i>
									</div>
									<div class="text">Doprava
										<span>ZDARMA</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-piggy"></i>
									</div>
									<div class="text">Sleva
										<span>28%</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-heart"></i>
									</div>
									<div class="text">
										<div class="hidden-xs">oblíbené balení</div>
										<span>26,65 Kč/ks</span></div>
								</div>
							</div>
							<div class="allBenefits" onclick="sliderInput.value = 40;slider.noUiSlider.set(40);">
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-transport"></i>
									</div>
									<div class="text">Doprava
										<span>ZDARMA</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-piggy"></i>
									</div>
									<div class="text">Sleva
										<span>32%</span></div>
								</div>
								<div class="benefit">
									<div class="icon">
										<i aria-hidden="true" class="icon-bomb"></i>
									</div>
									<div class="text">
										<div class="hidden-xs">cenová bomba</div>
										<span>25,16 Kč/ks</span></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p class="note">
									<i class="icon-plus"></i>Ke každým 4 sáčkům obdržíte 1 motorový filtr ZDARMA.<br>
									<a href="#" data-toggle="modal" data-target="#myModalFilter">CO JE TO MOTOROVÝ FILTR?</a>
									<!-- modal filter - start -->
								</p>
								<!-- modal filter - stop -->
								<p></p>
								<br>
								<h5>
									<a href="#additional">Máme pro Vás i Hepa filtry, motorové filtry, kartáče, vůně…</a>
								</h5>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="row">
							<div class="col-xs-12">
								<div class="stepper">
									<div id="stepperMinus">
										<span aria-hidden="true" class="glyphicon glyphicon-minus"></span></div>
									<input id="sliderInput" name="amount" type="number" value="2">
									<div id="stepperPlus">
										<span aria-hidden="true" class="glyphicon glyphicon-plus"></span></div>
								</div>
								<div id="stepperLabel" class="stepperLabel">sáčků</div>
							</div>
						</div>
						<div class="row discounts">
							<div class="col-xs-12 summary">
								<div class="row">
									<!-- <div class="col-xs-4 col-sm-12 sum-item.active sum-bags"> <div class="item badge-sale">Sleva <span> <i class="icon-check2"></i>ZDARMA</span> </div> </div> -->
									<div class="col-xs-4 col-sm-12 sum-item.active sum-transport">
										<div class="item transport-free" style="visibility: visible;">+ doprava
											<span>
												<i class="icon-check2"></i>ZDARMA</span>
										</div>
									</div>
									<div class="col-xs-4 col-sm-12 sum-item.active sum-filters">
										<div class="item filterActual" style="visibility: visible;">+ 3 motorové filtry<span>
												<i class="icon-check2"></i>ZDARMA</span></div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<h4 class="hand summary">
											<span>Vaše
												<br>objednávka</span></h4>
										<div class="item price">cena za balení
											<span class="priceActual">
												<strong>355 Kč</strong></span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<input type="hidden" name="groups_id" value="186306">
		<input type="hidden" name="base_packages" value="4">
		<input type="hidden" name="name" value="Sáčky do vysavače ELECTROLUX S-BAG">

		<div class="row">
			<div class="col">
				<button type="submit" name="submit[]" value="186306" class="btn btn-primary btn-lg">Vložit do košíku<i class="icon-cart"></i>
				</button>
			</div>
		</div>
		<input type="hidden" name="goods_id" value="186306"><input type="hidden" name="gfix_name" value=""><input type="hidden" name="amount_type" value="1"><input type="hidden" name="_do" value="goodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	<hr/>

	<form action="/electrolux/s-bag" method="post" id="frm-goodsTestBuyForm">
		<p class="text-center">
			Pokud chcete vyzkoušet kvalitu našich sáčků, můžete si objednat na zkoušku 1 sáček za cenu 35 Kč. Zaplatíte pouze tuto cenu a dopravu.
			<button type="submit" name="submit[]" value="99999" class="btn btn-outline-dark btn-sm">Vložit do košíku 1 sáček</button>
		</p>

		<input type="hidden" name="goods_id" value="186306"><input type="hidden" name="_do" value="goodsTestBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	<hr/>

	<a name="bag_image"></a>
	<div class="row">
		<div class="col-sm-6 hidden-xs gallery">
			<a href="https://chci-vysavat.cz/images/assets/pack/myLarge/SBG154.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku">
				<img alt="Fotka sáčku" class="img-fluid" src="https://chci-vysavat.cz/images/assets/pack/myLarge/SBG154.jpg">
			</a>
		</div>
		<div class="col-xs-12 col-sm-6">
			<p>
				<strong class="info">Skladem:</strong>
				ano</p>
			<p>
				<strong class="info">Materiál:</strong>
				Netkaná textílie</p>
			<p>
				<strong class="info">Počet filtračních vrstev:</strong>
				5</p>
			<p>Pět vrstev sáčku VACS do vysavače
				<span class="text-primary">ELECTROLUX</span>
				<span class="text-primary">S-BAG</span>
				chrání Vaše zdraví a prodlužuje životnost vysavače. Tyto sáčky jsou plnohodnotnou alternativou k originálnímu výrobku. Sáčky s takto jemnou filtrací nejsou vhodné pro vysávání popela a brusného prachu.</p>
			<div class="row">
				<div class="col-xs-12 gallery"></div>
				<div class="col-xs-4">
					<a href="https://chci-vysavat.cz/images/goods/0a.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku">
						<img src="https://chci-vysavat.cz/images/goods/0a.jpg" alt="Fotka sáčku" class="img-fluid">
					</a>
				</div>
				<div class="col-xs-4">
					<a href="https://chci-vysavat.cz/images/goods/0b.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku">
						<img src="https://chci-vysavat.cz/images/goods/0b.jpg" alt="Fotka sáčku" class="img-fluid">
					</a>
				</div>
				<div class="col-xs-4">
					<a href="https://chci-vysavat.cz/images/goods/0c.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku">
						<img src="https://chci-vysavat.cz/images/goods/0c.jpg" alt="Fotka sáčku" class="img-fluid">
					</a>
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col">
			<h3>Tento typ sáčku se hodí i do těchto modelů vysavačů značky ELECTROLUX:</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<p class="readmore">
				<a href="/electrolux/zcs-2540cs">ELECTROLUX ZCS 2540CS</a>
				,
				<a href="/electrolux/zcs-2540cs-clasic-silence">ELECTROLUX ZCS 2540CS Clasic Silence</a>
				,
				<a href="/electrolux/zcs-2450-cs">ELECTROLUX ZCS 2450 CS</a>
				,
				<a href="/electrolux/zcs-2520-b">ELECTROLUX ZCS 2520 b</a>
				,
				<a href="/electrolux/zcs-2560-c">ELECTROLUX ZCS 2560 c</a>
				,
				<a href="/electrolux/zcs-2560">ELECTROLUX ZCS 2560</a>
				,
				<a href="/electrolux/ultraone-green-zg-8800">ELECTROLUX Ultraone Green ZG 8800</a>
				,
				<a href="/electrolux/zg-8800">ELECTROLUX ZG 8800</a>
				,
				<a href="/electrolux/ze-360-p">ELECTROLUX ZE 360 P</a>
				,
				<a href="/electrolux/ergomini">ELECTROLUX Ergomini</a>
				,
				<a href="/electrolux/ergomini-zp-3500">ELECTROLUX Ergomini ZP 3500</a>
				,
				<a href="/electrolux/ergomini-zp-3501">ELECTROLUX Ergomini ZP 3501</a>
				,
				<a href="/electrolux/ergomini-zp-3502">ELECTROLUX Ergomini ZP 3502</a>
				,
				<a href="/electrolux/ergomini-zp-3503">ELECTROLUX Ergomini ZP 3503</a>
				,
				<a href="/electrolux/ergomini-zp-3504">ELECTROLUX Ergomini ZP 3504</a>
				,
				<a href="/electrolux/ergomini-zp-3505">ELECTROLUX Ergomini ZP 3505</a>
				,
				<a href="/electrolux/ergomini-zp-3510">ELECTROLUX Ergomini ZP 3510</a>
				,
				<a href="/electrolux/ergomini-zp-3520">ELECTROLUX Ergomini ZP 3520</a>
				,
				<a href="/electrolux/extra-long-reach">ELECTROLUX Extra Long Reach</a>
				,
				<a href="/electrolux/zp-4000-ergo-classic">ELECTROLUX ZP 4000 Ergo Classic</a>

				a další…
			</p>
		</div>
	</div>

	<hr/>

	<a id="additional"></a>
	<div class="row">
		<div class="col">
			<h3>Doporučujeme</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="list--items">
				{% for item in items %}{% render '@item-with_button',
					item %}
				{% endfor %}
			</div>
		</div>

		{# 
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form action="/electrolux/s-bag" method="post" id="frm-complementaryGoodsBuyForm">
			<input type="hidden" name="name" value="Balení vůní do vysavače - květinová (1 ks)">
			<div class="item">
				<img src="https://chci-vysavat.cz/images/assets/pack/myThumb/SC0002.jpg" alt="obrázek doplňku ELECTROLUX S-BAG">
				<div>
					<h5>
						<a href="/electrolux/s-bag/baleni-vuni-do-vysavace-kvetinova">Balení vůní do vysavače - květinová</a>
					</h5>
					<p>
						<strong class="info">Balení obsahuje:
						</strong>(1 ks)<br>
						<strong class="info">Skladem:
						</strong>ano<br>
						<strong class="info">Cena:
						</strong>59.00 Kč
					</p>
					<button type="submit" name="submit[]" value="186304" class="btn btn-primary btn-sm">Vložit do košíku</button>
				</div>
			</div>
			<input type="hidden" name="_do" value="complementaryGoodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form action="/electrolux/s-bag" method="post" id="frm-complementaryGoodsBuyForm">
			<input type="hidden" name="name" value="Balení vůní do vysavače - svěží (1 ks)">
			<div class="item">
				<img src="https://chci-vysavat.cz/images/assets/pack/myThumb/SC0003.jpg" alt="obrázek doplňku ELECTROLUX S-BAG">
				<div>
					<h5>
						<a href="/electrolux/s-bag/baleni-vuni-do-vysavace-svezi">Balení vůní do vysavače - svěží</a>
					</h5>
					<p>
						<strong class="info">Balení obsahuje:
						</strong>(1 ks)<br>
						<strong class="info">Skladem:
						</strong>ano<br>
						<strong class="info">Cena:
						</strong>59.00 Kč
					</p>
					<button type="submit" name="submit[]" value="186305" class="btn btn-primary btn-sm">Vložit do košíku</button>
				</div>
			</div>
			<input type="hidden" name="_do" value="complementaryGoodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form action="/electrolux/s-bag" method="post" id="frm-complementaryGoodsBuyForm">
			<input type="hidden" name="name" value="Podlahový kartáč na tvrdé podlahy (1 ks)">
			<div class="item">
				<img src="https://chci-vysavat.cz/images/assets/pack/myThumb/BR0002.jpg" alt="obrázek doplňku ELECTROLUX S-BAG">
				<div>
					<h5>
						<a href="/electrolux/s-bag/podlahovy-kartac-na-tvrde-podlahy">Podlahový kartáč na tvrdé podlahy</a>
					</h5>
					<p>
						<strong class="info">Balení obsahuje:
						</strong>(1 ks)<br>
						<strong class="info">Skladem:
						</strong>ano<br>
						<strong class="info">Cena:
						</strong>249.01 Kč
					</p>
					<button type="submit" name="submit[]" value="186307" class="btn btn-primary btn-sm">Vložit do košíku</button>
				</div>
			</div>
			<input type="hidden" name="_do" value="complementaryGoodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form action="/electrolux/s-bag" method="post" id="frm-complementaryGoodsBuyForm">
			<input type="hidden" name="name" value="Podlahová hubice na kočičí a psí chlupy (1 ks)">
			<div class="item">
				<img src="https://chci-vysavat.cz/images/assets/pack/myThumb/BR0003.jpg" alt="obrázek doplňku ELECTROLUX S-BAG">
				<div>
					<h5>
						<a href="/electrolux/s-bag/podlahova-hubice-na-kocici-a-psi-chlupy">Podlahová hubice na kočičí a psí chlupy</a>
					</h5>
					<p>
						<strong class="info">Balení obsahuje:
						</strong>(1 ks)<br>
						<strong class="info">Skladem:
						</strong>ano<br>
						<strong class="info">Cena:
						</strong>395.00 Kč
					</p>
					<button type="submit" name="submit[]" value="186308" class="btn btn-primary btn-sm">Vložit do košíku</button>
				</div>
			</div>
			<input type="hidden" name="_do" value="complementaryGoodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form action="/electrolux/s-bag" method="post" id="frm-complementaryGoodsBuyForm">
			<input type="hidden" name="name" value="Turbokartáč univerzální (1 ks)">
			<div class="item">
				<img src="https://chci-vysavat.cz/images/assets/pack/myThumb/BR0001.jpg" alt="obrázek doplňku ELECTROLUX S-BAG">
				<div>
					<h5>
						<a href="/electrolux/s-bag/turbokartac-univerzalni">Turbokartáč univerzální</a>
					</h5>
					<p>
						<strong class="info">Balení obsahuje:
						</strong>(1 ks)<br>
						<strong class="info">Skladem:
						</strong>ano<br>
						<strong class="info">Cena:
						</strong>299.00 Kč
					</p>
					<button type="submit" name="submit[]" value="186309" class="btn btn-primary btn-sm">Vložit do košíku</button>
				</div>
			</div>
			<input type="hidden" name="_do" value="complementaryGoodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>

	</div>
	<div class="col-xs-12 col-sm-6 col-md-4">
		<form action="/electrolux/s-bag" method="post" id="frm-complementaryGoodsBuyForm">
			<input type="hidden" name="name" value="Motorový filtr MF0105 (5 ks)">
			<div class="item">
				<img src="https://chci-vysavat.cz/images/assets/pack/myThumb/MF0105.jpg" alt="obrázek doplňku ELECTROLUX S-BAG">
				<div>
					<h5>
						<a href="/electrolux/s-bag/baleni-motorovych-filtru-mf0105">Motorový filtr MF0105</a>
					</h5>
					<p>
						<strong class="info">Balení obsahuje:
						</strong>(5 ks)<br>
						<strong class="info">Skladem:
						</strong>ano<br>
						<strong class="info">Cena:
						</strong>59.00 Kč
					</p>
					<button type="submit" name="submit[]" value="186302" class="btn btn-primary btn-sm">Vložit do košíku</button>
				</div>
			</div>
			<input type="hidden" name="_do" value="complementaryGoodsBuyForm-submit"><!--[if IE]><input type=IEbug disabled style="display:none"><![endif]--></form>
	</div>
	 #}
	</div>
</div>

{% render '@stripe-guarantee' %}