<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			{% for link in links %}
				<li class="breadcrumb-item">
					{% render '@link',
					link %}
				</li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ active }}</li>
		</ol>
	</nav>
</div>