{% render '@breadcrumb',
breadcrumb %}

<div class="container page">

	<div class="row">
		<div class="col">
			<h1>HEPA filtr do vysavačů AEG (HF0001)</h1>
			<p>Kompatibilní s AEG AF51W, AFG AFG 9001677690. ALU 9001966697, H12 AEG AEFG12W Green, H13 AEG-ELECTROLUX £F51W.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-sm-12">
			<a href="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku">
				<img alt="Fotka sáčku" class="img-fluid" src="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg">
			</a>
			{% render '@gallery-hepa', { class: 'gallery--half'} %}
		</div>
		<div class="col-md-6 col-sm-12">

			{% render '@selection-hepa' %}
			<div class="row">
				<div class="col-md-12 col-lg-6 mb-3">
					{% render '@expedition-in-xhh' %}
				</div>
				<div class="col-md-12 col-lg-6">
					{% render '@button-with-icon-right', { class: 'btn-primary btn-lg', icon: 'cart', text: 'Vložit do košíku' } %}
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col-md-6 col-sm-12 my-auto">
			<h5>Parametry HEPA filtru HF0001:</h5>
			<table>
				<tr>
					<td>Pro značku</td>
					<td>ELECTROLUX</td>
				</tr>
				<tr>
					<td>Vnější délka (A) x Vnější šířka (B)</td>
					<td>120 x 80 mm</td>
				</tr>
				<tr>
					<td>Vnitřní délka (A) x Vnitřní šířka (B)</td>
					<td>110 x 70 mm</td>
				</tr>
				<tr>
					<td>Výška (E)</td>
					<td>25 mm</td>
				</tr>
				<tr>
					<td>Omyvatelný</td>
					<td>NE</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6 col-sm-12">
			<img class="img-fluid" alt="Fotka sáčku" src="{{ '/img/hepa-filter.jpg' | path }}">
		</div>
	</div>

	<hr/>

	<div class="row">
		<div class="col">
			<p>
				Vysavač je vlastně docela jednoduché zařízení. Nasává do sebe vzduch a nečistoty. Nečistoty zůstanou v ideálním případě v sáčku, který je uvnitř vysavače. Ale co s tímto nasátým vzduchem? Ten je následně vypo uštěn do okolního prostředí. No a tady
				se dostáváme k „jádru pudla“. Protože vzduch, který odchází z vysavače je znečištěný většími nebo menšími nečistotami, je potřeba jej vyčistit. A protože člověk je vskutku tvor vynalézavý, přišel na to, že by bylo dob ré použít nějaký filtr
				vzduchu, chcete li HEPA filtr, který zachytí i velice drobné částice jejichž velikost může být například 300 nanometrů. Poznámka pro největší zvědavce. Jeden nanometr je 1 miliardtina metru. Například vzdálenosti atomů v pevných látk ách jsou
				řádově zlomky (typicky čtvrtina až pětina) nanometru.
			</p>
			<p>
				HEPA filtr je tedy „výstupní prachový filtr“. Zkratka HEPA je z anglického „high efficiency particulate arrestance“, resp. „zachytávání mikročástic s vysokou účinností“. Pozor, těmi mikročást icemi můžou být nejenom mikroskopické částečky prachu,
				ale i alergeny. Proto je pro lidi trpící alergií důležité, aby si při koupi vysavače vybrali právě takový model vysavače, který má výstupní prachový HEPA filtr.
			</p>
		</div>
	</div>
	
	<hr/>

	<div class="row">
		<div class="col">
			<div class="mb-3">
				<h5 class="d-inline-block mr-3">Kompatibilita</h5>
				{% render '@search' %}
			</div>
			<div>
				{% for i in range(0, 10) -%}
					<a href="#">AEG AAM 6100-6160 EC AirMax</a>,&nbsp;
				{%- endfor %}
				<a href="#">AEG AAM 6100-6160 EC AirMax</a>
			</div>
			{% render '@button', {class:'btn-secondary mt-2', text:'Zobrazit všechny'} %}
		</div>
	</div>

</div>

{% render '@stripe-guarantee' %}