<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/css/app.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/css/ds.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '/fonts/vrecka-icons/iconfont.css' }}">
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

</body>
</html>