<div class="benefits benefits--bag {{ class }}">
    {% render '@benefit--bag-magnify' %}
    {% render '@benefit--bag-space' %}
    {% render '@benefit--bag-clock' %}
    {% render '@benefit--bag-filter' %}
    {% render '@benefit--bag-join' %}
    {% render '@benefit--bag-closing' %}
</div>