{# 
    FIXME: dot navigation
#}
{% render '@stripe-search' %}
{% render '@stripe-testimonials' %}
{% render '@stripe-brands' %}
{% render '@stripe-bag' %}
{% render '@stripe-ask' %}
{% render '@stripe-order' %}

{% render '@modal' %}