<div class="gallery {{ class }}">
    <a href="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku" class="gallery__link">
        <img src="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" alt="Fotka sáčku" class="img-fluid gallery__img">
    </a>
    <a href="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku" class="gallery__link">
        <img src="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" alt="Fotka sáčku" class="img-fluid gallery__img">
    </a>
    <a href="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" data-toggle="lightbox" data-gallery="gallery" data-title="Fotka sáčku" class="gallery__link">
        <img src="https://chci-vysavat.cz/images/assets/pack/myLarge/HF0001.jpg" alt="Fotka sáčku" class="img-fluid gallery__img">
    </a>
</div>

<script type="text/javascript" src="{{ '/js/ekko-lightbox.min.js' | path }}"></script>