<div class="input--compatibility--wrapper d-inline-block">
    {% render '@input', {class:'input--compatibility', id:'search-input', placeholder:'Napište typ vysavače'} %}
    {# {% render '@icon', {image:'search', class:'search--compatibility'} %} #}
    {% render '@button-with-icon-right', {text: '', class: 'input__icon', icon: 'search'} %}
</div>