<div id="section-04" class="container-fluid stripe stripe--bag cd-section">
	<div class="container">
		<div class="row">
			<div class="col mb-3">
				<h2>Prodáváme sáčky do vysavačů značky VACS</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img class="vacs-logo img-fluid" src="/img/vacs-logo-stripe.png" alt="VACS"/>
			</div>
		</div>
		<div class="row bag">
			<div class="bag__text col-sm-12 col-md-6 col-lg-4">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" id="headingOne" role="tab">
							<h6>
								<a role="button" data-toggle="collapse" data-target="#poi-text-one" aria-expanded="true" aria-controls="collapseOne">PÉČE O VAŠE ZDRAVÍ</a>
							</h6>
						</div>
						<div class="collapse show" id="poi-text-one" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="card-body">
								<p>Sáčky VACS jsou vyrobené z antibakteriální netkané textílie, která má
									<strong>5 filtračních vrstev</strong>
									a představuje špičkovou technologii pro ochranu vašeho zdraví.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingTwo" role="tab">
							<h6>
								<a class="collapsed" role="button" data-toggle="collapse" data-target="#poi-text-two" aria-expanded="false" aria-controls="collapseTwo">PRODLOUŽENA ŽIVOTNOST</a>
							</h6>
						</div>
						<div class="collapse" id="poi-text-two" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
							<div class="card-body">
								<p>Sáčky VACS mají ve srovnání s papírovými sáčky
									<strong>o 50 % delší živnostnost</strong>. Šetříme Vaše peníze, protože nemusí vyměňovat sáčky tak často.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree" role="tab">
							<h6>
								<a class="collapsed" role="button" data-toggle="collapse" data-target="#poi-text-three" aria-expanded="false" aria-controls="collapseThree">ÚČINNĚJŠÍ FILTRACE</a>
							</h6>
						</div>
						<div class="collapse" id="poi-text-three" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
							<div class="card-body">
								<p>Syntetická netkaná textílie
									<strong>odfiltruje až 99 % částic</strong>
									o velikosti jeden mikron - to je až o 40% více oproti papírovému sáčku. Je to dáno skladbou stěny sáčků. Moderní netkané textilie se při výrobě sáčků pokládají ve vrstvách na sebe (sáčky VACS mají 5 vrstev), přičemž každá vrstva je specificky určená
									pro jinou funkci – od filtrace různých velikostí částic nečistot až po ochrannou funkci.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFour" role="tab">
							<h6>
								<a class="collapsed" role="button" data-toggle="collapse" data-target="#poi-text-four" aria-expanded="false" aria-controls="collapseThree">LEPŠÍ VYUŽITÍ PROSTORU</a>
							</h6>
						</div>
						<div class="collapse" id="poi-text-four" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
							<div class="card-body">
								<p>Sáčky VACS nemají skládání, na první pohled vypadají větší než jiné sáčky. Díky pružnosti netkané textilie se
									<strong>sáček snadno přizpůsobí svému prostoru</strong>
									ve vysavači a pojme minimálně o 15 % více nečistot než papírový sáček.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingFive" role="tab">
							<h6>
								<a class="collapsed" role="button" data-toggle="collapse" data-target="#poi-text-five" aria-expanded="false" aria-controls="collapseFive">PEVNOST SPOJE</a>
							</h6>
						</div>
						<div class="collapse" id="poi-text-five" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
							<div class="card-body">
								<p>Papírové sáčky mají lepené spoje, které jsou velice náchylné na poškození. Pokud není lepení kvalitní, může se sáček rozlepit a přestane plnit svou funkci. Nekvalitní papír navíc v místech ohybu může praskat. U sáčků z netkané textilie se
									jednotlivé díly sáčků se k sobě "taví" a mají podstatně vyšší pevnost.</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingSix" role="tab">
							<h6>
								<a class="collapsed" role="button" data-toggle="collapse" data-target="#poi-text-six" aria-expanded="false" aria-controls="collapseSix">HYGIENICKÝ UZÁVĚR</a>
							</h6>
						</div>
						<div class="collapse" id="poi-text-six" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
							<div class="panel-body">
								<p>Zejména při výměně sáčku ve vysavači se může do vzduchu dostat jemný prach, který ohrožuje vaše zdraví. Hygienický uzávěr udrží prach přesně tam, kam patří – tedy v sáčku.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bag__image col-sm-12 col-md-6 col-lg-8">
				<div class="bag__image__pois">
					<a class="poi one active" href="#accordion" data-scroll="data-scroll">
						<i class="icon-pic-magnify"></i>
					</a>
					<a class="poi two" href="#accordion" data-scroll="data-scroll">
						<i class="icon-pic-clock"></i>
					</a>
					<a class="poi three" href="#accordion" data-scroll="data-scroll">
						<i class="icon-pic-filter"></i>
					</a>
					<a class="poi four" href="#accordion" data-scroll="data-scroll">
						<i class="icon-pic-space"></i>
					</a>
					<a class="poi five" href="#accordion" data-scroll="data-scroll">
						<i class="icon-pic-join"></i>
					</a>
					<a class="poi six" href="#accordion" data-scroll="data-scroll">
						<i class="icon-pic-closing"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col mt-3">
				<a href="/sacky-do-vysavace-vacs" role="button" class="btn btn-primary">Více o sáčcích VACS</a>
			</div>
		</div>
	</div>
</div>